@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using Mini_Ecommerce_Comsuming_APIS.Models;
@model ProductsModel
@{
    ViewData["Title"] = "Products";
}
<form asp-action="Index" asp-controller="Product" method="post">

    <div class="container-fluid">
        @*        <div class="paginate 1">
        *@            <div class=" row justify-content-center items">
            @foreach (Product product in Model.Products)
            {
                <div class="col-sm-3 m-2" id="myproductList">
                    <div class="card shadow-sm" id="items">
                        <img src="@String.Format(" data:image /gif;base64,{0}", Convert.ToBase64String(product.Image))" class="img-fluid">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                @Html.DisplayFor(modelItem => product.ProductName)
                            </h5>
                            <p class="card-text  text-center font-bold">
                                @Html.DisplayFor(modelItem => product.Price,new{@class="font-bold"})
                            </p>
                            <p class="text-center">
                                <i class="bi bi-star-half text-primary text-center"></i> <i class="bi bi-star-half text-primary text-center"></i> <i class="bi bi-star-half text-primary text-center"></i> <i class="bi bi-star-half text-primary text-center"></i>
                            </p>
                            <a asp-action="Details" class="btn btn-primary w-100 bg-info" asp-route-id="@product.ProductID"> <i class="bi bi-info-square"></i> &nbsp;View Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <br />
    <div class="row" id="pagi">
        <div class="col-sm-12">
            @if (ViewBag.Nopagination != 0)
            {
                @if (ViewBag.Nopagination > 1)
                {
                    <ul class="pagination">
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            @if (i != Model.CurrentPageIndex)
                            {
                                <li class="page-item">

                                    <a class="page-link" href="javascript:PagerClick(@i);">@i</a>
                                </li>

                            }
                            else
                            {
                                <li class="page-item active">
                                    <a class="page-link">@i</a>
                                </li>
                            }

                        }

                    </ul>
                }
            }
        </div>
    </div>
    <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />

    @* <div class="row justify-content-center text-center">
        <div class="col-sm-9">
        <hr />
        <div class="pager">
        <a href="#"> <div class="firstPage">&laquo;</div></a>
        <a href="#"> <div class="previousPage">&lsaquo;</div></a>
        <div class="pageNumbers"></div>
        <a href="#">  <div class="nextPage">&rsaquo;</div></a>
        <a href="#">  <div class="lastPage">&raquo;</div></a>
        </div>
        </div>
        </div>*@
    @*    </div>
    *@
</form>

@section Scripts{

    }


